* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  --color-primary: #1e213f;
  --color-secondary: #2e325a;
  --color-tertiary: #d7e0ff;
  --color-hover-primary: #f87070;
  --color-hover-secondary: #f13b3b;
  --color-hover-tertiary: #219a52;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 100vh;
}
#container {
    text-align: center;
    margin-top: 50px;
  }
  #timer {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #ccc;
    display: inline-block;
  }
  #filler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #65abda; /* Green filler color */
    border-radius: 50%;
   
   
  }
  #time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
  }
  #buttons {
    display: flex;
    margin-top: 20px;
  }

  button {
    text-transform: uppercase;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    padding: 1rem 2rem;
    margin: 0 .5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

button:hover {
  background-color: var(--color-hover-primary);
}

#completeExercise{
  margin-top: 20px;
  margin-bottom: 20px;
}